@page "/direcciones"

@inject IDireccionService servicio
@inject NavigationManager nav
@inject SweetAlertService sweetAlertService

@if (mostrarModal)
{
    <div class="modal fade show" style="display: block;" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">@modalTitle</h5>
                    <button type="button" class="btn-close" @onclick="CerrarModal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <EditForm EditContext="contextoEdicionPersona" OnValidSubmit="GuardarCambios">
                        <DataAnnotationsValidator />
                        <div class="mb-3">
                            <label>Nombre Persona:</label>
                            <div>
                                <input type="text" class="form-control" @oninput="FilterPersons" placeholder="Buscar persona...">
                                <select class="form-control" @bind="@persona.Id">
                                    @if (filteredPersons.Any())
                                    {
                                        <option value="0">Selecciona Persona</option>
                                        foreach (var per in filteredPersons)
                                        {
                                            <option value="@per.Id">@($"{per.Nombre} {per.Apellidos}")</option>
                                        }
                                    }
                                </select>
                                <ValidationMessage For="@(()=>persona.Id)"></ValidationMessage>
                            </div>
                        </div>
                    </EditForm>
                    <EditForm EditContext="contextoEdicion" OnValidSubmit="GuardarCambios">
                        <DataAnnotationsValidator />
                        <div class="mb-3">
                            <label>Descripción:</label>
                            <div>
                                <InputText class="form-control" @bind-Value="@direccion.Descripcion"></InputText>
                                <ValidationMessage For="@(()=>direccion.Descripcion)"></ValidationMessage>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" @onclick="CerrarModal">Cerrar</button>
                            <button type="submit" class="btn btn-primary">@modalButtonLabel</button>
                        </div>
                    </EditForm>
                    
                </div>
            </div>
        </div>
    </div>
}

<h3>Listar Direccion</h3>

<div class="form-group row">
    <button type="button" class="btn btn-primary" @onclick="AbrirModalCrear">
        CREAR
    </button>
</div>

<div class="form-group row">
    <input class="form-control" @bind="@filtroNombre" @oninput="BuscarPorNombre" placeholder="Buscar por Nombre" />
</div>

<div>
    <table class="table">
        <thead>
            <tr>
                <th><strong>Persona</strong></th>
                <th><strong>Descripcion</strong></th>
                <th><strong>Estado</strong></th>
                <th><strong>Acciones</strong></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in DireccionListaPaginada)
            {
                <tr>
                    <td>@(item.IdPersonanav.Nombre + " " + item.IdPersonanav.Apellidos)</td>
                    <td>@item.Descripcion</td>
                    <td>@item.Estado</td>
                    <td>
                        @if (item.Estado == "Activo")
                        {
                            <button class="btn btn-primary m-1" @onclick="() => cambiarestado(item.Id, item.Estado)">Desactivar</button>
                            <button class="btn btn-primary m-1" @onclick="() => AbrirModalModificar(item.Id)">Editar</button>
                            <button class="btn btn-danger" @onclick="() => EliminarDireccion(item.Id)">Eliminar</button>
                        }
                        @if (item.Estado == "Inactivo")
                        {
                            <button class="btn btn-primary m-1" @onclick="() => cambiarestado(item.Id, item.Estado)">Activar</button>
                            <button class="btn btn-primary m-1" @onclick="() => AbrirModalModificar(item.Id)">Editar</button>
                            <button class="btn btn-danger" @onclick="() => EliminarDireccion(item.Id)">Eliminar</button>
                        }

                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div>
    <!-- Botones de paginación -->
    <button class="btn btn-primary" disabled="@EsPaginaInicial" @onclick="IrAPaginaAnterior">Anterior</button>
    <span>Página @paginaActual de @TotalPaginas</span>
    <button class="btn btn-primary" disabled="@EsPaginaFinal" @onclick="IrAPaginaSiguiente">Siguiente</button>
</div>

@code {

    private EditContext contextoEdicion;
    private EditContext contextoEdicionPersona;
    private string modalTitle = "Crear Direccion";
    private string modalButtonLabel = "Crear";
    private Direccion direccion = new Direccion();
    private Persona persona = new Persona();
    private bool mostrarModal = false;
    private string filtroNombre="";
    private List<Direccion> DireccionListaPaginada { get; set; } = new List<Direccion>();
    private List<Persona> allPersons = new List<Persona>();
    private List<Persona> filteredPersons = new List<Persona>();
    private int paginaActual = 1;
    private int pageSize = 5;
    private string token="";

    public List<Direccion> DireccionLista { get; set; } = new List<Direccion>();

    protected override async Task OnInitializedAsync()
    {
        string userd = await SecureStorage.GetAsync(nameof(Settings.detalleuser));
        if (!string.IsNullOrWhiteSpace(userd))
        {
            var userdt = JsonConvert.DeserializeObject<Detalleuser>(userd);

            var hadler = new JwtSecurityTokenHandler();
            var jsontoken = hadler.ReadToken(userdt.Token) as JwtSecurityToken;
            if (jsontoken.ValidTo < DateTime.UtcNow)
            {
                nav.NavigateTo("/login");
            }
            else
            {
                Settings.detalleuser = userdt;
                token = Settings.detalleuser.Token;
                contextoEdicion = new EditContext(direccion);
                contextoEdicionPersona = new EditContext(persona);
                await CargarDireccion();
                await CargarPersonas();
            }
        }
        else
        {
            nav.NavigateTo("/login");
        }

    }

    private async Task CargarDireccion()
    {

        DireccionLista = await servicio.ListarEstado(token);
        await ActualizarListaPaginada();
        await CargarPersonas();
    }

    private async Task ActualizarListaPaginada()
    {
        int inicio = (paginaActual - 1) * pageSize;
        int fin = inicio + pageSize;
        DireccionListaPaginada = DireccionLista.Skip(inicio).Take(pageSize).ToList();
    }

    private async Task IrAPaginaAnterior()
    {
        if (paginaActual > 1)
        {
            paginaActual--;
            await ActualizarListaPaginada();
        }
    }

    private async Task IrAPaginaSiguiente()
    {
        if (paginaActual < TotalPaginas)
        {
            paginaActual++;
            await ActualizarListaPaginada();
        }
    }


    private bool EsPaginaInicial => paginaActual == 1;
    private bool EsPaginaFinal => paginaActual == TotalPaginas;
    private int TotalPaginas => (int)Math.Ceiling((double)DireccionLista.Count / pageSize);


    private async Task GuardarCambios()
    {
        if (direccion.Id > 0)
        {
            var result = await sweetAlertService.FireAsync(new SweetAlertOptions
                {
                    Title = "¿Estás seguro?",
                    Text = "¿Deseas modificar este registro de Direccion?",
                    Icon = SweetAlertIcon.Warning,
                    ShowCancelButton = true,
                    ConfirmButtonText = "Sí, Modificar",
                    CancelButtonText = "No, cancelar",
                });

            if (result.IsConfirmed)
            {
                var respuesta = await servicio.Modificar(direccion, direccion.Id, token);
                if (!respuesta)
                {
                    await sweetAlertService.FireAsync("Error", "No se pudo modificar", SweetAlertIcon.Error);
                    return;
                }
                else
                {
                    await sweetAlertService.FireAsync("Modificado", "Se modifico correctamente", SweetAlertIcon.Success);
                }
            }
            CerrarModal();
            await CargarDireccion();
        }
        else
        {
            direccion.Idpersona = persona.Id;
            direccion.Estado = "Activo";
            var respuesta = await servicio.Insertar(direccion, token);
            if (!respuesta)
            {
                await sweetAlertService.FireAsync("Error", "No se pudo guardar", SweetAlertIcon.Error);
                return;
            }
            else
            {
                await sweetAlertService.FireAsync("Guardado", "Se guardo correctamente", SweetAlertIcon.Success);
            }
        }
        if (!string.IsNullOrEmpty(filtroNombre))
        {
            DireccionLista = await servicio.ListarPorNombre(filtroNombre, token);
            CerrarModal();
            await ActualizarListaPaginada();
        }
        else
        {
            CerrarModal();
            await CargarDireccion();
        }
    }


    private async Task EliminarDireccion(int RK)
    {

        direccion = await servicio.ObtenerPorId(RK, token);
        var result = await sweetAlertService.FireAsync(new SweetAlertOptions
            {
                Title = "¿Estás seguro?",
                Text = "¿Deseas borrar este registro de Direccion?",
                Icon = SweetAlertIcon.Warning,
                ShowCancelButton = true,
                ConfirmButtonText = "Sí, borrarlo",
                CancelButtonText = "No, cancelar",
            });

        if (result.IsConfirmed)
        {
            direccion.Estado = "Eliminado";
            var respuesta = await servicio.Modificar(direccion, direccion.Id, token);
            if (!respuesta)
            {
                await sweetAlertService.FireAsync("Error", "No se pudo eliminar", SweetAlertIcon.Error);
                return;
            }
            else
            {
                await sweetAlertService.FireAsync("Eliminado", "Se Elimino Correctamente", SweetAlertIcon.Success);
            }
        }
        if (!string.IsNullOrEmpty(filtroNombre))
        {
            DireccionLista = await servicio.ListarPorNombre(filtroNombre, token);
            await ActualizarListaPaginada();
        }
        else
        {
            await CargarDireccion();
        }
    }

    private void AbrirModalCrear()
    {
        direccion = new Direccion();
        persona = new Persona();
        contextoEdicion = new EditContext(direccion);
        contextoEdicionPersona = new EditContext(persona);
        modalTitle = "Crear Direccion";
        modalButtonLabel = "Crear";
        mostrarModal = true;
    }

    private async Task AbrirModalModificar(int id)
    {

        direccion = await servicio.ObtenerPorId(id, token);
        contextoEdicion = new EditContext(direccion);
        modalTitle = "Modificar Direccion";
        modalButtonLabel = "Guardar Cambios";
        mostrarModal = true;
    }

    private async Task cambiarestado(int id, string estado)
    {

        if (estado == "Activo")
        {
            direccion = await servicio.ObtenerPorId(id, token);

            var result = await sweetAlertService.FireAsync(new SweetAlertOptions
                {
                    Title = "¿Estás seguro?",
                    Text = "¿Deseas desactivar este registro de Direccion?",
                    Icon = SweetAlertIcon.Warning,
                    ShowCancelButton = true,
                    ConfirmButtonText = "Sí, Desactivar",
                    CancelButtonText = "No, cancelar",
                });

            if (result.IsConfirmed)
            {
                direccion.Estado = "Inactivo";
                var respuesta = await servicio.Modificar(direccion, id, token);
                if (!respuesta)
                {
                    await sweetAlertService.FireAsync("Error", "No se pudo desactivar", SweetAlertIcon.Error);
                    await CargarDireccion();
                }
                else
                {
                    await sweetAlertService.FireAsync("Desactivado", "Se Desactivo correctamente", SweetAlertIcon.Success);
                    await CargarDireccion();
                }

            }
        }
        else
        {
            direccion = await servicio.ObtenerPorId(id, token);

            var result = await sweetAlertService.FireAsync(new SweetAlertOptions
                {
                    Title = "¿Estás seguro?",
                    Text = "¿Deseas Activar este registro de Direccion?",
                    Icon = SweetAlertIcon.Warning,
                    ShowCancelButton = true,
                    ConfirmButtonText = "Sí, Activar",
                    CancelButtonText = "No, cancelar",
                });

            if (result.IsConfirmed)
            {
                direccion.Estado = "Activo";
                var respuesta = await servicio.Modificar(direccion, id, token);
                if (!respuesta)
                {
                    await sweetAlertService.FireAsync("Error", "No se pudo activar", SweetAlertIcon.Error);
                }
                else
                {
                    await sweetAlertService.FireAsync("Activado", "Se Activo correctamente", SweetAlertIcon.Success);
                }
            }
        }
        if (!string.IsNullOrEmpty(filtroNombre))
        {
            DireccionLista = await servicio.ListarPorNombre(filtroNombre, token);
            await ActualizarListaPaginada();
        }
        else
        {
            await CargarDireccion();
        }
    }
    private async Task BuscarPorNombre(ChangeEventArgs e)
    {

        filtroNombre = e.Value.ToString();
        if (!string.IsNullOrEmpty(filtroNombre))
        {
            DireccionLista = await servicio.ListarPorNombre(filtroNombre, token);
            await ActualizarListaPaginada();
        }
        else
        {
            await CargarDireccion();
            await ActualizarListaPaginada();
        }

    }

    private void FilterPersons(ChangeEventArgs e)
    {
        string filter = e.Value.ToString().ToLower();
        filteredPersons = allPersons
            .Where(p => (p.Nombre + " " + p.Apellidos).ToLower().Contains(filter))
            .ToList();
    }

    private async Task CargarPersonas()
    {
        allPersons = await servicio.ListarPersona(token);
        filteredPersons = allPersons.ToList();
    }

    private void CerrarModal()
    {
        filtroNombre = "";
        mostrarModal = false;
    }
}
