@page "/experiencialaboral"

@inject IExperienciaLaboralService servicio
@inject IInstitucionService servicioinsti
@inject IProfesionAfiliadoService servicioaf
@inject NavigationManager nav
@inject SweetAlertService sweetAlertService

@if (mostrarModal)
{
    <div class="modal fade show" style="display: block;" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">@modalTitle</h5>
                    <button type="button" class="btn-close" @onclick="CerrarModal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <EditForm EditContext="contextoEdicionAfiliado" OnValidSubmit="GuardarCambios">
                        <DataAnnotationsValidator />
                        <div class="mb-3">
                            <label>Nombre Afiliado:</label>
                            <div>
                                <input type="text" class="form-control" @oninput="FilterAfiliado" placeholder="Buscar afiliado...">
                                <select class="form-control" @bind="@selectedAfiliadoNombre">
                                    @if (filteredAfiliado.Any())
                                    {
                                        <option value="">Selecciona Afiliado</option>
                                        @foreach (var afiliado in filteredAfiliado)
                                        {
                                            <option value="@($"{afiliado.IdPersonanav.Nombre} {afiliado.IdPersonanav.Apellidos}")">@($"{afiliado.IdPersonanav.Nombre} {afiliado.IdPersonanav.Apellidos}")</option>
                                        }
                                    }
                                </select>
                                <ValidationMessage For="@(()=>afiliado.Id)"></ValidationMessage>
                            </div>
                        </div>
                    </EditForm>

                    <EditForm EditContext="contextoEdicioninstitucion" OnValidSubmit="GuardarCambios">
                        <DataAnnotationsValidator />
                        <div class="mb-3">
                            <label>Institución:</label>
                            <div>
                                <input type="text" class="form-control" @oninput="Filterinstitucion" placeholder="Buscar Institución...">
                                <select class="form-control" @bind="@selectedInstitucionNombre">
                                    @if (filteredinstitucion.Any())
                                    {
                                        <option value="">Selecciona Afiliado</option>
                                        @foreach (var insti in filteredinstitucion)
                                        {
                                            <option value="@($"{insti.Nombre}")">@($"{insti.Nombre}")</option>
                                        }
                                    }
                                </select>
                                <ValidationMessage For="@(()=>afiliado.Id)"></ValidationMessage>
                            </div>
                        </div>
                    </EditForm>
                    <EditForm EditContext="contextoEdicion" OnValidSubmit="GuardarCambios">
                        <DataAnnotationsValidator />
                        <div class="mb-3">
                            <label>Cargo Titulo:</label>
                            <div>
                                <InputText class="form-control" @bind-Value="@experiencialaboral.CargoTitulo"></InputText>
                                <ValidationMessage For="@(()=>experiencialaboral.CargoTitulo)"></ValidationMessage>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label>Fecha Inicio:</label>
                            <div>
                                <InputText class="form-control" @bind-Value="@experiencialaboral.FechaInicio"></InputText>
                                <ValidationMessage For="@(()=>experiencialaboral.FechaInicio)"></ValidationMessage>
                            </div>
                        </div>
                       
                        <div class="mb-3">
                            <label>Fecha Final:</label>
                            <div>
                                <InputText class="form-control" @bind-Value="@experiencialaboral.FechaFinal"></InputText>
                                <ValidationMessage For="@(()=>experiencialaboral.FechaFinal)"></ValidationMessage>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" @onclick="CerrarModal">Cerrar</button>
                            <button type="submit" class="btn btn-primary">@modalButtonLabel</button>
                        </div>
                    </EditForm>
                </div>
            </div>
        </div>
    </div>
}

<h3>Listar Experiencia Laboral</h3>

<div class="form-group row">
    <button type="button" class="btn btn-primary" @onclick="AbrirModalCrear">
        CREAR
    </button>
</div>

<div class="form-group row">
    <input class="form-control" @bind="@filtroNombre" @oninput="BuscarPorNombre" placeholder="Buscar por nombre de Institución" />
</div>

<div>
    <table class="table">
        <thead>
            <tr>
                <th><strong>Afiliado</strong></th>
                <th><strong>Institucion</strong></th>
                <th><strong>Cargo Titulo</strong></th>
                <th><strong>Fecha Inicio</strong></th>
                <th><strong>Fecha Final</strong></th>
                <th><strong>Estado</strong></th>
                <th><strong>Acciones</strong></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in ExperienciaLaboralListaPaginada)
            {
                <tr>
                    <td>@item.Afiliado</td>
                    <td>@item.Institucion</td>
                    <td>@item.CargoTitulo</td>
                    <td>@item.FechaInicio</td>
                    <td>@item.FechaFinal</td>
                    <td>@item.Estado</td>
                    <td>
                        @if (item.Estado == "Activo")
                        {
                            <button class="btn btn-primary m-1" @onclick="() => cambiarestado(item.RowKey, item.Estado)">Desactivar</button>
                            <button class="btn btn-primary m-1" @onclick="() => AbrirModalModificar(item.RowKey)">Editar</button>
                            <button class="btn btn-danger" @onclick="() => EliminarExperienciaLaboral(item.RowKey)">Eliminar</button>
                        }
                        @if (item.Estado == "Inactivo")
                        {
                            <button class="btn btn-primary m-1" @onclick="() => cambiarestado(item.RowKey, item.Estado)">Activar</button>
                            <button class="btn btn-primary m-1" @onclick="() => AbrirModalModificar(item.RowKey)">Editar</button>
                            <button class="btn btn-danger" @onclick="() => EliminarExperienciaLaboral(item.RowKey)">Eliminar</button>
                        }

                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div>
    <!-- Botones de paginación -->
    <button class="btn btn-primary" disabled="@EsPaginaInicial" @onclick="IrAPaginaAnterior">Anterior</button>
    <span>Página @paginaActual de @TotalPaginas</span>
    <button class="btn btn-primary" disabled="@EsPaginaFinal" @onclick="IrAPaginaSiguiente">Siguiente</button>
</div>

@code {

    private EditContext contextoEdicion;
    private EditContext contextoEdicionAfiliado;
    private EditContext contextoEdicioninstitucion;
    private string modalTitle = "Crear ExperienciaLaboral";
    private string modalButtonLabel = "Crear";
    private ExperienciaLaboral experiencialaboral = new ExperienciaLaboral();
    private Afiliado afiliado = new Afiliado();
    private Institucion institucion = new Institucion();
    private bool mostrarModal = false;
    private string filtroNombre;
    private string token="";
    private List<ExperienciaLaboral> ExperienciaLaboralListaPaginada { get; set; } = new List<ExperienciaLaboral>();
    private List<Afiliado> allAfiliado = new List<Afiliado>();
    private List<Afiliado> filteredAfiliado = new List<Afiliado>();
    private List<Institucion> allinstitucion = new List<Institucion>();
    private List<Institucion> filteredinstitucion = new List<Institucion>();
    private int paginaActual = 1;
    private int pageSize = 5;
    private string selectedAfiliadoNombre;
    private string selectedInstitucionNombre;

    public List<ExperienciaLaboral> ExperienciaLaboralLista { get; set; } = new List<ExperienciaLaboral>();

    protected override async Task OnInitializedAsync()
    {
        string userd = await SecureStorage.GetAsync(nameof(Settings.detalleuser));
        if (!string.IsNullOrWhiteSpace(userd))
        {
            var userdt = JsonConvert.DeserializeObject<Detalleuser>(userd);

            var hadler = new JwtSecurityTokenHandler();
            var jsontoken = hadler.ReadToken(userdt.Token) as JwtSecurityToken;
            if (jsontoken.ValidTo < DateTime.UtcNow)
            {
                nav.NavigateTo("/login");
            }
            else
            {
                Settings.detalleuser = userdt;
                token = Settings.detalleuser.Token;
                contextoEdicion = new EditContext(experiencialaboral);
                contextoEdicionAfiliado = new EditContext(afiliado);
                contextoEdicioninstitucion = new EditContext(institucion);
                await CargarExperienciaLaboral();
                await CargarAfiliado();
                await Cargarinstitucion();
            }
        }
        else
        {
            nav.NavigateTo("/login");
        }
    }

    async Task CargarExperienciaLaboral()
    {
        
        ExperienciaLaboralLista = await servicio.ListarEstado(token);
        await ActualizarListaPaginada();
        await CargarAfiliado();
        await Cargarinstitucion();
    }

    private async Task ActualizarListaPaginada()
    {
        int inicio = (paginaActual - 1) * pageSize;
        int fin = inicio + pageSize;
        ExperienciaLaboralListaPaginada = ExperienciaLaboralLista.Skip(inicio).Take(pageSize).ToList();
    }

    private async Task IrAPaginaAnterior()
    {
        if (paginaActual > 1)
        {
            paginaActual--;
            await ActualizarListaPaginada();
        }
    }

    private async Task IrAPaginaSiguiente()
    {
        if (paginaActual < TotalPaginas)
        {
            paginaActual++;
            await ActualizarListaPaginada();
        }
    }


    private bool EsPaginaInicial => paginaActual == 1;
    private bool EsPaginaFinal => paginaActual == TotalPaginas;
    private int TotalPaginas => (int)Math.Ceiling((double)ExperienciaLaboralLista.Count / pageSize);
    private async Task GuardarCambios()
    {
        

        if (!string.IsNullOrEmpty(experiencialaboral.RowKey))
        {
            var result = await sweetAlertService.FireAsync(new SweetAlertOptions
                {
                    Title = "¿Estás seguro?",
                    Text = "¿Deseas modificar este registro de institución?",
                    Icon = SweetAlertIcon.Warning,
                    ShowCancelButton = true,
                    ConfirmButtonText = "Sí, Modificar",
                    CancelButtonText = "No, cancelar",
                });

            if (result.IsConfirmed)
            {
                var respuesta = await servicio.Modificar(experiencialaboral, token);
                if (!respuesta)
                {
                    await sweetAlertService.FireAsync("Error", "No se pudo modificar", SweetAlertIcon.Error);
                    return;
                }
                else
                {
                    await sweetAlertService.FireAsync("Modificado", "Se modifico correctamente", SweetAlertIcon.Success);
                }
            }
            CerrarModal();
            await CargarExperienciaLaboral();
        }
        else
        {
            experiencialaboral.PartitionKey = "Educacion";
            experiencialaboral.Estado = "Activo";
            experiencialaboral.Afiliado = selectedAfiliadoNombre;
            experiencialaboral.Institucion = selectedInstitucionNombre;
            var respuesta = await servicio.Insertar(experiencialaboral, token);
            if (!respuesta)
            {
                await sweetAlertService.FireAsync("Error", "No se pudo guardar", SweetAlertIcon.Error);
                return;
            }
            else
            {
                await sweetAlertService.FireAsync("Guardado", "Se guardo correctamente", SweetAlertIcon.Success);
            }
        }
        if (!string.IsNullOrEmpty(filtroNombre))
        {
            ExperienciaLaboralLista = await servicio.ListarPorNombre(filtroNombre, token);
            CerrarModal();
            await ActualizarListaPaginada();
        }
        else
        {
            CerrarModal();
            await CargarExperienciaLaboral();
        }
    }


    private async Task EliminarExperienciaLaboral(string RK)
    {
        
        experiencialaboral = await servicio.ObtenerPorId(RK, token);
        var result = await sweetAlertService.FireAsync(new SweetAlertOptions
            {
                Title = "¿Estás seguro?",
                Text = "¿Deseas borrar este registro de institución?",
                Icon = SweetAlertIcon.Warning,
                ShowCancelButton = true,
                ConfirmButtonText = "Sí, borrarlo",
                CancelButtonText = "No, cancelar",
            });

        if (result.IsConfirmed)
        {
            experiencialaboral.Estado = "Eliminado";
            var respuesta = await servicio.Modificar(experiencialaboral, token);
            if (!respuesta)
            {
                await sweetAlertService.FireAsync("Error", "No se pudo eliminar", SweetAlertIcon.Error);
                return;
            }
            else
            {
                await sweetAlertService.FireAsync("Eliminado", "Se Elimino Correctamente", SweetAlertIcon.Success);
            }
        }
        if (!string.IsNullOrEmpty(filtroNombre))
        {
            ExperienciaLaboralLista = await servicio.ListarPorNombre(filtroNombre, token);
            await ActualizarListaPaginada();
        }
        else
        {
            await CargarExperienciaLaboral();
        }
    }

    private void AbrirModalCrear()
    {
        experiencialaboral = new ExperienciaLaboral();
        contextoEdicion = new EditContext(experiencialaboral);
        afiliado = new Afiliado();
        contextoEdicionAfiliado = new EditContext(afiliado);
        institucion = new Institucion();
        contextoEdicioninstitucion = new EditContext(institucion);
        modalTitle = "Crear ExperienciaLaboral";
        modalButtonLabel = "Crear";
        selectedAfiliadoNombre="";
        selectedInstitucionNombre="";

        mostrarModal = true;
    }

    private async Task AbrirModalModificar(string rowKey)
    {
        
        experiencialaboral = await servicio.ObtenerPorId(rowKey, token);
        contextoEdicion = new EditContext(experiencialaboral);
        modalTitle = "Modificar ExperienciaLaboral";
        modalButtonLabel = "Guardar Cambios";
        mostrarModal = true;
    }

    private async Task cambiarestado(string rowKey, string estado)
    {
        
        if (estado == "Activo")
        {
            experiencialaboral = await servicio.ObtenerPorId(rowKey, token);

            var result = await sweetAlertService.FireAsync(new SweetAlertOptions
                {
                    Title = "¿Estás seguro?",
                    Text = "¿Deseas desactivar este registro de institución?",
                    Icon = SweetAlertIcon.Warning,
                    ShowCancelButton = true,
                    ConfirmButtonText = "Sí, Desactivar",
                    CancelButtonText = "No, cancelar",
                });

            if (result.IsConfirmed)
            {
                experiencialaboral.Estado = "Inactivo";
                var respuesta = await servicio.Modificar(experiencialaboral, token);
                if (!respuesta)
                {
                    await sweetAlertService.FireAsync("Error", "No se pudo desactivar", SweetAlertIcon.Error);
                    await CargarExperienciaLaboral();
                }
                else
                {
                    await sweetAlertService.FireAsync("Desactivado", "Se Desactivo correctamente", SweetAlertIcon.Success);
                    await CargarExperienciaLaboral();
                }

            }
        }
        else
        {
            experiencialaboral = await servicio.ObtenerPorId(rowKey, token);

            var result = await sweetAlertService.FireAsync(new SweetAlertOptions
                {
                    Title = "¿Estás seguro?",
                    Text = "¿Deseas Activar este registro de institución?",
                    Icon = SweetAlertIcon.Warning,
                    ShowCancelButton = true,
                    ConfirmButtonText = "Sí, Activar",
                    CancelButtonText = "No, cancelar",
                });

            if (result.IsConfirmed)
            {
                experiencialaboral.Estado = "Activo";
                var respuesta = await servicio.Modificar(experiencialaboral, token);
                if (!respuesta)
                {
                    await sweetAlertService.FireAsync("Error", "No se pudo activar", SweetAlertIcon.Error);
                }
                else
                {
                    await sweetAlertService.FireAsync("Activado", "Se Activo correctamente", SweetAlertIcon.Success);
                }
            }
        }
        if (!string.IsNullOrEmpty(filtroNombre))
        {
            ExperienciaLaboralLista = await servicio.ListarPorNombre(filtroNombre, token);
            await ActualizarListaPaginada();
        }
        else
        {
            await CargarExperienciaLaboral();
        }
    }
    private async Task BuscarPorNombre(ChangeEventArgs e)
    {
        
        filtroNombre = e.Value.ToString();
        if (!string.IsNullOrEmpty(filtroNombre))
        {
            ExperienciaLaboralLista = await servicio.ListarPorNombre(filtroNombre, token);
            await ActualizarListaPaginada();
        }
        else
        {
            await CargarExperienciaLaboral();
            await ActualizarListaPaginada();
        }

    }

    private void FilterAfiliado(ChangeEventArgs e)
    {
        string filter = e.Value.ToString().ToLower();
        filteredAfiliado = allAfiliado
            .Where(p => (p.IdPersonanav.Nombre + " " + p.IdPersonanav.Apellidos).ToLower().Contains(filter))
            .ToList();
    }

    private async Task CargarAfiliado()
    {
        allAfiliado = await servicioaf.ListarAfiliado(token);
        filteredAfiliado = allAfiliado.ToList();
    }

    private void Filterinstitucion(ChangeEventArgs e)
    {
        string filter = e.Value.ToString().ToLower();
        filteredinstitucion = allinstitucion
            .Where(p => (p.Nombre).ToLower().Contains(filter))
            .ToList();
    }

    private async Task Cargarinstitucion()
    {
        allinstitucion = await servicioinsti.ListarInstitucionEstadoActivo(token);
        filteredinstitucion = allinstitucion.ToList();
    }

    private void CerrarModal()
    {
        mostrarModal = false;
    }
}
